.container {
    margin: auto;
    border-style: solid;
    width: 500px;
    height: 500px;
    display: grid-inline;
}
.owner {
    text-shadow: 2px 2px black;
    color: white;
    display: none;
    height: 25px;
}

button {
    font-size: 30px;
}

.emoji {
    font-size: 25px;
    height: 25px;
    width: 100%;
}

.cell {
    width: 25px;
    height: 25px;
    display: inline-block;
    font-size: 10px;
    text-align: center;
}

.row {
    height: 25px;
}
