.container {
    margin: auto;
    border-style: solid;
    width: 500px;
    height: 500px;
    display: grid-inline;
}

button {
    font-size: 30px;
}

.cell {
    width: 25px;
    height: 25px;
    display: inline-block;
    font-size: 10px;
    text-shadow: none;
    color: transparent;
    text-align: center
}

.row {
    height: 25px;
}
